global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "pushgateway"
    static_configs:
      - targets: ["pushgateway:9091"] 

remote_write:
  - url: "http://34.130.28.238:9009/api/v1/push" 
    headers:
      X-Scope-OrgID: "default"
